/*
Explicitly define a Segoe UI font-family so that we can assign Segoe UI 
Semilight to an appropriate font-weight.
*/
@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	color: #333333;
    font-family: Segoe UI Light,Open Sans,helvetica,arial,sans-serif;
}

.page {
	height: 100%;
	float: left;
	display: inline-block;
	position: relative;
}

.vCenter {
	position:absolute;
	top:20%;
	left:0px;
	width: 100%;
}

.centerChar {
	height: 100px;
    display: inline-block;
    vertical-align: middle;
}

.slide {
	height: 100%;
	position: absolute;
	top:0px;
	left:0px;
	-webkit-transition: all 1s;
    transition: all 1s;
	opacity: 0;
}

canvas {
	height: 100%;
	width: 100%;	
}

.bottom-left {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.bottom-right {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.company-logo {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.logo {
	color: #fff;
    height: auto;
    font-size: 14px;
    /*background: #0957a0;*/
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.sideFade {
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 77%, rgba(255,255,255,0.57) 88%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 77%,rgba(255,255,255,0.57) 88%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 77%,rgba(255,255,255,0.57) 88%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */
}

.sub-logo-lines {
	height: 2px;
	width: 100%;
	background: #0957a0; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #0957a0 , white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #0957a0, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #0957a0, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #0957a0 , white); /* Standard syntax */
}