<!doctype html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>Report</title>
		
		<link rel="stylesheet" href="css/font-awesome-4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/app.css">
		<script src="js/angular.min.js"></script>
		<script src="core.js"></script>
	</head>
	<body ng-controller="controller" style="width:100%;height:100%;overflow:hidden;position:relative;" ng-keydown="changePage($event)">
		<canvas id="canvas" style="opacity:{{loaded}};"></canvas>
		<div style="margin-left:{{current * -100}}%;width:{{page.length * 100}}%;opacity: {{loaded}};" class="slide">
			<div class="page" style="width:{{100 / page.length}}%;">
				<div style="position: absolute;top:30%;width: 100%;">
					<div class="logo" style="width:500px;margin:0 auto;">
						<img src="resources/images/singularity.png" style="width:500px;margin:0 auto;" />
					</div>
					
					<div style="margin:50px 50px;text-align:center;">
						<h1>Projets Libres Innovants</h1>
						<h3 style="margin-top:50px;">
							Ryan Anzer, Teddy Isidor, Thomas Yalap
						</h3>
					</div>
				</div>
			</div>
			<div class="page sideFade" style="width:{{100 / page.length}}%;">
				<div style="margin:20px;height:100%;">
					<h1>Introduction</h1>
					<div class="sub-logo-lines"></div>

					<div class="vCenter">
						<div ng-hide="video.end" style="font-size:25px;margin:0 auto;width:640px;">
							<video id="video" width="640" height="360">
								<source src="resources/videos/singularity.mp4" type="video/mp4">	
							</video>
						</div>
					</div>
				</div>
				<company-logo></company-logo>
			</div>
			<div class="page sideFade" style="width:{{100 / page.length}}%;">
				<div style="margin:20px;height:100%;">
					<h1>Présentation du projet</h1>
					<div class="sub-logo-lines"></div>
					
					<div class="vCenter">
						<div style="margin:0 auto;width:70%;">
							<div> 
								<span ng-click="showRelated('node');" 
										title="basé sur node.js, utilisant JS" 
										class="keywords"
										style="cursor: pointer;">Node.js
								</span>
								<span ng-click="showRelated('framework');" 
										title="boite à outils" 
										class="keywords"
										style="cursor: pointer;">Framework
								</span>
								<span ng-click="showRelated('architecture');" 
										title="MVC-like, conventions" 
										class="keywords"
										style="cursor: pointer;">Architecture
								</span> 
							</div>
							<div style="margin-top: 50px;text-align: center">
								<label style="font-size:30px" ng-show="label"><b>Contexte</b> : </label>
								<p class="keywords-desc" ng-show="node">
									Node.js : Une technologie récente
								</p>
								<p class="keywords-desc" ng-show="framework">
									Framework : Un manque ?
								</p>
								<p class="keywords-desc" ng-show="architecture">
									Architecture : Un besoin de structure, de conventions...
								</p>
							</div>
						</div>
					</div>
				</div>
				<company-logo></company-logo>
			</div> <!-- TEDDY -->
			<div class="page sideFade" style="width:{{100 / page.length}}%;">
				<div style="margin:20px;height:100%;">
					<h1>Présentation de l'équipe</h1>
					<div class="sub-logo-lines"></div>
					
					<div class="vCenter">
						<div style="font-size:25px;margin:0 auto;width:450px;">
							text here
						</div>
					</div>
				</div>
				<company-logo></company-logo>
			</div> <!-- TEDDY -->
			<div class="page sideFade" style="width:{{100 / page.length}}%;">
				<div style="margin:20px;height:100%;">
					<h1>Etude de la cible</h1>
					<div class="sub-logo-lines"></div>
					
					<div class="vCenter">
						<div style="font-size:25px;margin:0 auto;width:450px;">
							text here
						</div>
					</div>
				</div>
				<company-logo></company-logo>
			</div> <!-- THOMAS -->
			<div class="page sideFade" style="width:{{100 / page.length}}%;">
				<div style="margin:20px;height:100%;">
					<h1>Plan de communication</h1>
					<div class="sub-logo-lines"></div>
					
					<div class="vCenter">
						<div style="font-size:25px;margin:0 auto;width:450px;">
							text here
						</div>
					</div>
				</div>
				<company-logo></company-logo>
			</div> <!-- THOMAS -->
			<div class="page sideFade" style="width:{{100 / page.length}}%;">
				<div style="margin:20px;height:100%;">
					<h1>Le projet dans le futur</h1>
					<div class="sub-logo-lines"></div>
					
					<div class="vCenter">
						<div style="font-size:25px;margin:0 auto;width:450px;">
							text here
						</div>
					</div>
				</div>
				<company-logo></company-logo>
			</div> <!-- TBD -->
			<div class="page sideFade" style="width:{{100 / page.length}}%;">
				<div style="margin:20px;height:100%;">
					<h1>Les fonctionnalités</h1>
					<div class="sub-logo-lines"></div>
					
					<div class="vCenter">
						<div style="font-size:25px;margin:0 auto;width:450px;">
							text here
						</div>
					</div>
				</div>
				<company-logo></company-logo>
			</div> <!-- THOMAS -->	
			<div class="page sideFade" style="width:{{100 / page.length}}%;">
				<div style="margin:20px;height:100%;">
					<h1>Les technologies utilisées</h1>
					<div class="sub-logo-lines"></div>
					
					<div class="vCenter">
						<div style="font-size:25px;margin:0 auto;width:450px;">
							text here
						</div>
					</div>
				</div>
				<company-logo></company-logo>
			</div> <!-- Teddy -->	
			<div class="page sideFade" style="width:{{100 / page.length}}%;">
				<div style="margin:20px;height:100%;">
					<h1>Démo fonctionnelle</h1>
					<div class="sub-logo-lines"></div>
					
					<div class="vCenter">
						<div style="font-size:25px;margin:0 auto;width:450px;">
							text here
						</div>
					</div>
				</div>
				<company-logo></company-logo>
			</div> <!-- RYAN -->	
			<div class="page sideFade" style="width:{{100 / page.length}}%;">
				<div style="margin:20px;height:100%;">
					<h1>Architecture et coeur du projet</h1>
					<div class="sub-logo-lines"></div>
					
					<div class="vCenter">
						<div style="font-size:25px;margin:0 auto;width:450px;">
							text here
						</div>
					</div>
				</div>
				<company-logo></company-logo>
			</div> <!-- RYAN -->
		</div>
	</body>
</html>